{{!-- pages/about.hbs --}}

{{#> layouts/base title="About" }}

  {{#*inline "hero-block"}}
    {{> includes/hero
      hero-src="../../media/hero.png"
      hero-alt="Hero 1 alt title"
    }}
  <div class="test">123</div>
  {{/inline}}

{{/layouts/base}}